<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
        <a class="dropdown-item text-center" href="{{ chartsUrl }}">
            {{ chartsName }}
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item text-center" href="{{ pieChartsUrl }}">
            {{ pieChartsName }}
        </a>
    </li>
    <li>
        <a class="dropdown-item text-center" href="#">
            Something else here
        </a>
    </li>
    <li>
        <a class="dropdown-item text-center" href="#">
            Something else here
        </a>
    </li>
</ul>
