<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Charts
</a>

{% include 'charts/common/navbar/second_level/index.html.twig' %}
