<div class="container-fluid">
    {% include 'common/navbar_login_register/common/title/index.html.twig' %}
    {% include 'common/navbar_login_register/common/navbar_supported_content/index.html.twig' %}
</div>
